.project-title {
    display: flex;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    align-items: center;
}

.project-title h4 {
    margin: 0 25px 0 0;
}

.card-body {
    padding: 1rem !important;
}