/* 카드 위젯 */
.card-widget {
    margin-bottom: 2em;
}
.card-widget-separator {
    padding: 0;
}

/* 프로젝트 생성 버튼튼 */
.btn-project {
    color: white;
    background-color: #696cff;
    border-radius: 0.375rem;
}

.btn-project:hover {
    color: #fff;
    background-color: #5f61e6;
    box-shadow: 0 .125rem .25rem 0 rgba(105, 108, 255, .4);
}